#globalBody{
    padding: 1rem 5rem;
    color: #fff;
}

@keyframes textHiglight {
    from { font-size: 3rem;}
    to { font-size: 7rem;}
}
h1{
    color: mintcream;
    font-family: 'Tangerine', serif;
    text-align: center;
    font-size: 7rem;
    cursor: pointer;
}
h1 span{
    display: inline-block;
    padding: 0 8px;
}
h1:hover span:nth-child(1){
    margin-right: 5px
}
  
h1:hover span:nth-child(2){
    margin-left: 30px
}

h1:hover span{
    animation: textHiglight 5s infinite;
    animation-delay: 1s;
}

h1 span{
    transition: .5s linear
}

.nav-con{
    @apply bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600;
}

.nav-item-con{
    @apply container flex flex-wrap justify-end items-center mx-auto;
}

.sticky-nav{
    @apply hidden justify-between items-center w-full md:flex md:w-auto md:order-1;
}

.nav-item-list{
    @apply flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
}

.nav-item-list .active{
    @apply text-base underline;
    color: white !important;
}

.nav-item-list .not-active{
    @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700;
}

.logout-link{
    cursor: pointer;
}