.skill-body{
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    color: black;
}
.skill-header-con{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skill-arrow{
    display:inline;
    cursor: pointer;
}

.skill-header{
    color: black;
    display:inline;
}

.arrow-image{
    width: 6vw;
}


#search-skill{
    padding: 10px 15px;
}

.skill-header-con div:last-child {
    margin-left: auto;
}
